/* 
* {
  box-sizing: border-box;
} */
body {
  background: rgb(233, 233, 240);
  margin: 0;
  display: block;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root {
  width: 100%;
  height: 100%;
}

.start-image {
  width: 300px;
}
/* 
.form_wrapper {
  grid-area: form;
} */

.genders_checkbox {
  display: flex;
}

.genders_checkbox div {
  margin: 1px 10px;
}

.start-image {
  grid-area: image;
}

.post_filter_wrapper {
  display: flex;
  flex-direction: column;
}

.profile_info_holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_label_holder {
  display: flex;
  align-items: center;
  width: 100%;
}

label {
  margin: 10px;
  width: 150px;
}

.profile_label_holder label {
  width: 100%;
  max-width: 100px;
}

.search_label_holder label {
  width: 100%;
  max-width: 100px;
  text-align: end;
}

.importance_holder label {
  text-align: end;
}

.profile_edit_wrapper label,
p {
  margin-right: auto;
}

.h_holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h_holder h3 {
  justify-content: center;
}

.search_label_holder input {
  width: 100%;
  max-width: 70px;
}

.search_label_holder {
  width: 100%;
  min-width: 200px;
  max-width: 450px;
}

.search_label_holder div {
  padding: 0px 3px;
}

.search_info_holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
}

.post_filter_wrapper div {
  margin: 2px;
}

.people_filter_wrapper {
  box-shadow: silver 5px 5px 20px;
  margin: 10px;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.search_info_holder div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h_holder {
  display: flex;
  justify-content: space-around;
}

.select {
  font-style: italic;
}

.profile_edit_wrapper {
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.search_result_element_wrapper {
  width: 100%;
  max-width: 350px;
  margin-top: 60px;
  text-align: center;
  padding: 20px;
  background-color: white;
  display: grid;
}

/* .customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
} */

.search_result_list_wrapper {
  grid-template-columns: 33% 33% 33%;
  display: grid;
  margin: 25px;
  width: 100%;
}
.search_result_list_wrapper .user_card,
.search_result_list_wrapper .dir_conn,
.search_result_list_wrapper .post_conn,
.search_result_list_wrapper .post-wrapper,
.search_result_list_wrapper .req_conn,
.form_wrapper {
  margin: 12px;
  padding: 12px;
  box-shadow: 0 5px 5px 5px silver;
}

.profile_sec_1 {
  display: flex;
  justify-content: space-around;
}

.input_edit_btns {
  display: flex;
}

.req_btns {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}

.search_result_list_wrapper .user_card img,
.search_result_list_wrapper .post_conn img,
.search_result_list_wrapper .dir_conn img,
.search_result_list_wrapper .req_conn img,
.post-wrapper img {
  width: 100%;
  height: 200px;
}

.post-text-fields {
  padding: 5px 10px;
}

.post-text-fields span {
  padding: 4px 0px;
}

.post-wrapper button {
  align-items: baseline;
}

.post-wrapper textarea,
.dir_conn textarea,
.post_conn textarea {
  width: 100%;
  height: 100px;
  resize: none;
  background-color: rgba(209, 218, 209, 0.21);
}

.error {
  color: red;
  text-align: center;
}
.success {
  color: green;
  text-align: center;
}

.outerChatContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1d;
}

.innerChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 60%;
  width: 35%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerChatContainer {
    height: 100%;
  }

  .innerChatContainer {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .innerChatContainer {
    width: 60%;
  }
}

.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2979ff;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftInnerInfoBarContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerInfoBarContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}

.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.paperPlaneImage {
  width: 25px;
}
.sendButton {
  color: #fff;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}

/* text container */
.textContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: white;
  height: 80%;
  justify-content: space-between;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (max-width: 425px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}

@media (min-width: 1440px) {
  .textContainer {
    font-size: 20px;
  }
}

.body-container {
  padding: 50px;
}

footer.c-footer {
  margin-top: 20px;
}

.profile_p_btns div {
  padding: 4px 0px;
}

.people_s_btn {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

textarea.ro-textarea {
  resize: none;
  width: 100%;
}

.texarea_div textarea {
  width: 100%;
}
