.signup-page .login-page {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  min-height: 100%;
  margin-bottom: -50px;
}

.login-page SignupContainer {
  border: 1px solid #000;
}
