.c-footer {
  color: #3c4b64;
  background: #ebedef;
  border-top: 1px solid #d8dbe0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  div {
    margin: 10px;
  }
}
